[submodule "scrypt-btc-vault"]
	path = scrypt-btc-vault
	url = git@github.com:sCrypt-Inc/scrypt-btc-vault.git
[submodule "scrypt-btc-merkle"]
	path = scrypt-btc-merkle
	url = git@github.com:sCrypt-Inc/scrypt-btc-merkle.git
[submodule "scrypt-btc-ord-listing"]
	path = scrypt-btc-ord-listing
	url = https://github.com/sCrypt-Inc/scrypt-btc-ord-listing
